@media screen and (max-width:767px){
    
    /* index */
    .bodyIndex{
        width: 100%;
    }
    .title h1{
        font-size: 45px;
    }
    #letter-D{
        font-size: 130px;
    }
    .AskQuestion p{
        font-size: 20px;
    }
    #loader h2{
        font-size: 40px;
    }
    /* présentation */
    .storyLove{
        height: 100vh;
    }
    .titleOfStory{
        margin-bottom: 2em;
    }

    .left {
        font-size: 50px;
    }
      
    .right {
        font-size: 50px;
    }
    .presentation{
        margin-bottom: 5em;
    }
    .scene {
        margin-top: 20em;
        flex-direction: column;
        gap: 1em;
    }

    .containerPresentationImg img{
        height: 250px;
        width: 250px;
    }
    
    .containerPresentationTxt {
        height: 250px;
        width: 250px;
        color: #fefef9;
        font-size: 18px;
    }

    /* COOL */
    .sectionCool h1{
        width:9em;
    }
    .sectionCool h2 span{
        font-size: 25px;
    }
    .contact h3{
        font-size: 25px;
    }
    .liens a{
        font-size: 15px;
        color: aliceblue;
        text-decoration: none;
    }
}

@media screen  and (min-width:768px ) and (max-width:1024px){}